<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>contact</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main>
      <form action="" method="post">
        <legend>For any request, please leave a message</legend>
        <label for="name">your name</label>
        <input type="text" />
        <label for="email">your email</label>
        <input type="email" name="" id="" />
        <label for="messgae"> your message</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </form>
    </main>
    <footer>
      <small><p>©july 2022 Nada-TB. All rights reserved</p></small>
    </footer>
  </body>
</html>
