<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main>
      <h1>Welcome to this website built using node.js webserver</h1>
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          aliquam justo sit amet mi lobortis dapibus. Praesent at lacus vitae
          nunc rutrum tempor. Suspendisse potenti. Sed imperdiet tellus a nibh
          convallis, at imperdiet odio tempus. Nam ultricies a urna id
          malesuada. Vivamus ultrices mauris sollicitudin, mattis est a, dictum
          ipsum. Cras ac ullamcorper sapien, et tristique nibh. Donec at erat
          vitae sapien molestie feugiat ac in ante. Donec gravida egestas neque
          non pellentesque. Nunc sit amet enim suscipit, posuere erat nec,
          tristique velit. Morbi vestibulum ut sapien vel fringilla. Aenean
          tempor consectetur vestibulum. Praesent tincidunt ut mi et efficitur.
          Phasellus sit amet dui turpis. Vestibulum gravida placerat mauris, sit
          amet viverra ante varius quis. Pellentesque tincidunt ut nisl et
          suscipit. Nunc eu quam nulla. Nunc et mollis nisl. Suspendisse
          imperdiet a ante id congue. Integer at facilisis est. Morbi at
          condimentum quam. Phasellus consequat, ante nec pharetra venenatis, ex
          massa faucibus lectus, eget lacinia lectus nisl non libero. Interdum
          et malesuada fames ac ante ipsum primis in faucibus. Nunc elit orci,
          feugiat sit amet nisl quis, facilisis posuere tellus. In blandit
          gravida felis sed blandit. Aliquam convallis sodales ligula, ac
          sagittis magna. Praesent dapibus ac metus in vulputate. Pellentesque
          imperdiet velit nec neque vehicula cursus. Aenean ut quam velit.
          Maecenas finibus sed odio vel volutpat. Praesent feugiat et sem quis
          ultrices. Maecenas sed justo id turpis gravida consequat. Proin eros
          ligula, tincidunt at pretium sit amet, ultricies ac ligula. Phasellus
          bibendum sapien eget massa dignissim, id congue tellus finibus. Aenean
          eleifend posuere leo vitae tristique. Nullam vel nulla dignissim,
          fringilla nibh vel, pharetra dolor. Praesent tincidunt nisl in lorem
          efficitur, et iaculis nibh ornare. Suspendisse bibendum malesuada
          commodo.
        </p>
      </article>
    </main>
    <footer>
      <small><p>Copyright ©july 2022 Nada-TB. All rights reserved</p></small>
    </footer>
  </body>
</html>
