<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main>
      <section class="projects">
        <h1>Projects</h1>
        <article>
          <h2>project 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            aliquam justo sit amet mi lobortis dapibus. Praesent at lacus vitae
            nunc rutrum tempor. Suspendisse potenti. Sed imperdiet tellus a nibh
            convallis, at imperdiet odio tempus. Nam ultricies a urna id
            malesuada. Vivamus ultrices mauris sollicitudin, mattis est a,
            dictum ipsum. Cras ac ullamcorper sapien, et tristique nibh. Donec
            at erat vitae sapien molestie feugiat ac in ante. Donec gravida
            egestas neque non pellentesque. Nunc sit amet enim suscipit, posuere
            erat nec, tristique velit. Morbi vestibulum ut sapien vel fringilla.
            Aenean tempor consectetur vestibulum. Praesent tincidunt ut mi et
            efficitur. Phasellus sit amet dui turpis.
          </p>
        </article>
        <article>
          <h2>project 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            aliquam justo sit amet mi lobortis dapibus. Praesent at lacus vitae
            nunc rutrum tempor. Suspendisse potenti. Sed imperdiet tellus a nibh
            convallis, at imperdiet odio tempus. Nam ultricies a urna id
            malesuada. Vivamus ultrices mauris sollicitudin, mattis est a,
            dictum ipsum. Cras ac ullamcorper sapien, et tristique nibh. Donec
            at erat vitae sapien molestie feugiat ac in ante. Donec gravida
            egestas neque non pellentesque. Nunc sit amet enim suscipit, posuere
            erat nec, tristique velit. Morbi vestibulum ut sapien vel fringilla.
            Aenean tempor consectetur vestibulum. Praesent tincidunt ut mi et
            efficitur. Phasellus sit amet dui turpis.
          </p>
        </article>
        <article>
          <h2>project 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            aliquam justo sit amet mi lobortis dapibus. Praesent at lacus vitae
            nunc rutrum tempor. Suspendisse potenti. Sed imperdiet tellus a nibh
            convallis, at imperdiet odio tempus. Nam ultricies a urna id
            malesuada. Vivamus ultrices mauris sollicitudin, mattis est a,
            dictum ipsum. Cras ac ullamcorper sapien, et tristique nibh. Donec
            at erat vitae sapien molestie feugiat ac in ante. Donec gravida
            egestas neque non pellentesque. Nunc sit amet enim suscipit, posuere
            erat nec, tristique velit. Morbi vestibulum ut sapien vel fringilla.
            Aenean tempor consectetur vestibulum. Praesent tincidunt ut mi et
            efficitur. Phasellus sit amet dui turpis.
          </p>
        </article>
      </section>
    </main>
    <footer>
      <small><p>©july 2022 Nada-TB. All rights reserved</p></small>
    </footer>
  </body>
</html>
